# 리스트
- 순서가 있는 자료구조 
    - 순서 : 인덱스로 원소들이 관리됨. 추가한 순서대로 저장되어 관리된다.

In [1]:
#리스트 생성 [v,v,v,v,]
list1 = [0,1,2,3,4,5,6,7,8,9]
list2 = ["홍길동","박영희","이명수"]

In [2]:
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
a_info = [1,2, "홍길동", None, False] #다른 타입도 올 수 있음

In [5]:
a_info[0]

1

In [8]:
list2[2]

'이명수'

In [9]:
# 함수명을 변수로 쓰지 말것!

## indexing/slicing

In [10]:
list1 = [[1,2,3],[4,5,6]]

In [11]:
list1[0][1]

2

In [13]:
list1[0]

[1, 2, 3]

In [14]:
list1[-8]

IndexError: list index out of range

In [15]:
list1[0] = 100 #값 수정

In [16]:
print(list1)

[100, [4, 5, 6]]

In [18]:
list1[-1] # 뒤에서 첫번째 원소 출력

[4, 5, 6]

In [19]:
list1[20] #없는 인덱스 조회

IndexError: list index out of range

In [21]:
list1 = [0,1,2,3,4,5,6,7,8,9]

In [22]:
list1[1:8:3] #시작, 끝, 간격

[1, 4, 7]

In [23]:
list1[-1:1:-1] # 간격이 마이너스이면 뒤에서 앞으로 가는 것, 역으로 뽑아내

[9, 8, 7, 6, 5, 4, 3, 2]

In [24]:
list1[0:3] = [5] #슬라이싱으로 원소 변경할때는 리스트로 값 대입

In [25]:
list1

[5, 3, 4, 5, 6, 7, 8, 9]

In [26]:
list1[0:3] = 5

TypeError: can only assign an iterable

In [27]:
# 값 삭제
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list1[0:5] = []

In [28]:
list1

[5, 6, 7, 8, 9, 10]

In [29]:
del list1[0]

In [30]:
list1

[6, 7, 8, 9, 10]

In [31]:
#리스트 안에 리스트(자료구조)를 원소로 추가, 큰박스 안에 작은박스 넣은것
list3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

In [32]:
list3[0]

[1, 2, 3]

In [33]:
list3[0:2]

[[1, 2, 3], [4, 5, 6]]

In [34]:
list3[0][2] #0번째 박스 안에 있는 것중 2번째 인덱스 뽑아

3

In [36]:
#리스트 *정수 : 리스트가 가진 원소들을 정수만큼 반복해서 새로운 리시트 생성
list1* 3

[6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10]

In [37]:
#리스트 대입 : 리스트의 각 원소에 원하는 값을 대입
a,b,c = [1,2,3]

In [38]:
a,b,c = 1,2,3 #이렇게도 많이 씀

In [39]:
a,b,c = num_list1 #리스트 원소의 수와 변수 개수 같아야

NameError: name 'num_list1' is not defined

In [40]:
a

1

In [41]:
print(a,b,c)

1 2 3

In [42]:
c_list = ["서울", "부산", "인천", "광주", "대구"]

In [43]:
"서울" in c_list

True

In [44]:
"서울" not in c_list

False

## 리스트 메소드
- 리스트. 사용할 메소드
- 메소드 : append, extend, sort, insert, remove, index, pop,count, clear

In [45]:
#list명.append(값) : 값을 마지막 원소로 추가
c_list.append("울산")
c_list

['서울', '부산', '인천', '광주', '대구', '울산']

In [47]:
c_list + ['성남','대전','구리'] #리스트 +리스트는 두 리스트를 합치는데, 리스트 자체의 값을 바꾸는 것 은 아님

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [48]:
c_list.extend(['성남','대전','구리']) #list.extend(리스트) : 인수로 받은 리스트의 원소들을 추가. 연산효과
c_list

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [49]:
#sorted(리스트) : 가나다순 정렬(내장함수)
#list.sort([reverse = True]) : 오름차순 정렬, 괄호안에 입력하면 내림차순 정렬(메소드)
sorted(c_list)

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [50]:
c_list # 위에 내장함수는 리스트 자체를 바꾸진 않음

['서울', '부산', '인천', '광주', '대구', '울산', '성남', '대전', '구리']

In [51]:
c_list.sort() #메소드는 리스트 자체가 바뀜

In [52]:
c_list

['광주', '구리', '대구', '대전', '부산', '서울', '성남', '울산', '인천']

In [54]:
c_list.sort(reverse = True)

In [55]:
c_list

['인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [56]:
#소트는 리스트내 원소들의 타입이 같아야 : 그래야 어떤게 크고작은지 비교가능하지

In [57]:
#inset(index,값) : 값을 인덱스에 삽입
c_list.insert(0,'청주')
c_list

['청주', '인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [58]:
#remove(값) :값을 삭제
c_list.remove('청주')

In [59]:
c_list

['인천', '울산', '성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [60]:
if "뉴욕" in c_list:
    c_list.remove("뉴욕")
else:
    print("뉴욕은 없다")

뉴욕은 없다

In [62]:
del c_list[1] #인덱스로 지울때

In [63]:
#pop(index ) :인덱스의 값을 삭제하며 반환
c_list.pop(0)

'인천'

In [64]:
c_list

['성남', '서울', '부산', '대전', '대구', '구리', '광주']

In [66]:
c_list.count("서울") #특정 값이 몇개?

1

In [67]:
c_list.count("뉴욕")

0

In [70]:
c_list.clear() #모든 원소들을 삭제

In [71]:
c_list

[]

## 튜플
- 리스트와 같이 순서대로 원소들을 저장하는 자료구조
- 리스트와 차이점은 원소를 변경불가
- 각 위치(인덱스)마다 정해진 의미가 있고,그 값이 한번 설정되면 바뀌지 않을 때 많이 사용
- len(튜플) : 원소갯수 조회, in/not in 연산자

In [72]:
t = (1,2,3)
type(t)

tuple

In [73]:
t1 = 1,2,3 #튜플 생성시 괄호 생략 가능

In [74]:
#튜플 대입
v1, v2, v3 = 1,2,3
print(v1)

1

In [75]:
1,2,3,4 #튜플은 출력시 괄호로 묶어서 출력됨

(1, 2, 3, 4)

In [76]:
# 튜플에 원소 하나 넣고 싶을 땐 뒤에 , 입력
t3 = (1)
t4 = (1,)

In [77]:
type(t3)

int

In [78]:
type(t4)

tuple

In [79]:
l = ["가", "나", "다"]
t5 = tuple(l)

In [80]:
t5

('가', '나', '다')

In [81]:
t6 = (1,2,3)
list(t6)

[1, 2, 3]

In [82]:
#인덱싱, 슬라이싱 가능
t1 = (1,2,3,4,5,6,7,8,9)

In [83]:
t1[5]

6

In [84]:
len(t1)

9

In [85]:
t1[1:5:2]

(2, 4)

In [86]:
t1[::3] #시즉 끝 다 생략 -> 전체조회

(1, 4, 7)

In [87]:
t1[1] = 0 #튜플은 수정 안돼

TypeError: 'tuple' object does not support item assignment

In [91]:
# 튜플 연산자 : in, notin, +, * 가능
t2 = (10,11,12)

In [92]:
t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12)

In [95]:
t4 = t2*10

In [94]:
#위에 연산해도 튜플 자체는 불변

In [96]:
t4.count(10)

10

In [97]:
t4.index(10) # 10 값이 몇번 인덱스에 있어

0